/**
 * Any CSS included here will be global. The classic preset
 * bundles Infima by default. Infima is a simple framework built on top of Flexbox
 * by the Docusaurus team. For more details, visit: https://infima.dev/
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205e3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #54aeff;
  --ifm-color-primary-dark: #4096ff;
  --ifm-color-primary-darker: #357ede;
  --ifm-color-primary-darkest: #1765ad;
  --ifm-color-primary-light: #6bbfff;
  --ifm-color-primary-lighter: #7cc7ff;
  --ifm-color-primary-lightest: #b3deff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
